/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    AboutPage.scss

    Stylings for the Wick About page
*/

// Center the content of the page
.AboutPage-row {
    justify-content: center;
}

#AboutPage-editorPreviewRow {
    padding: 32px 0;
}

#AboutPage-editorPreviewImage {
    transform: translateX(-2%);
    width: 100%;
}

#AboutPage-editorTextRow {
    font-size: 16px;
    padding-bottom: 88px;
}

#AboutPage-cannonImageRow {
    padding: 88px 0 8px;
}

.AboutPage-spacerRow {
    padding-top: 88px;
}