/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    CommunityGallery.scss

    Stylings for the Wick User Content Gallery
*/

.CommunityGallery-galleryRow {
    padding-bottom: 28px;

    @media screen and (min-width: 768px) {
        padding-bottom: 26px;
    }
    @media screen and (min-width: 1200px) {
        padding-bottom: 28px;
    }
}

.CommunityGallery-testText1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 112px;
    font-size: 16px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        font-size: 12px;
        height: 90px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        height: 112px;
    }
}

.CommunityGallery-testText2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 112px;
    font-size: 32px;

    @media screen and (min-width: 768px) {
        font-size: 28px;
        height: 90px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 32px;
        height: 112px;
    }
}

.CommunityGallery-image {
    width: 100%;
    border-radius: 4px;
}