/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    CreatorsRow.scss

    Stylings for the Creators Credit Rows
*/

// Center the content of the page
.CreatorsRow-row {
    justify-content: center;
}

.CreatorsRow-description {
    padding: 40px 0 20px;
}

.CreatorsRow-people {
    padding-bottom: 8px;
}