/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    HomePage.scss

    Stylings for the Wick Nav Bar
*/


#Header-container {
    margin-bottom: 48px;
    position: sticky;
    top: 0;
    z-index: 1;
}

#Header-activeItem {
    color: blue !important;
}

.Header-navItem {
    margin: 0 16px;

    @media screen and (max-width: 575px) {
        text-align: left;
    }
}

.Header-brand--wide,
.Header-brand--narrow {
    color: green !important;
}

.Header-brand--wide {
    margin: 0 24px;

    @media screen and (max-width: 575px) {
        display: none;
    }
}

.Header-brand--narrow {
    @media screen and (min-width: 576px) {
        display: none;
    }
}

.Header-navItem:hover {
    color: lightblue !important;
}

.Header-brand--wide:hover,
.Header-brand--narrow:hover {
    color: lightgreen !important;
}