/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    WickWorld.scss

    Stylings for the WickWorld Image
*/

// Image Header
.InfiniteScrollImage-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.InfiniteScrollImage-image--header,
.InfiniteScrollImage-image--footer {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.InfiniteScrollImage-image { // default behavior is to create a header
    &--header {
        top: 0;
    }
    &--footer { // this override creates a footer
        bottom: 0;
    }
}