/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    LearnCard.scss

    Stylings for the Wick Learn Page Cards
*/

.LearnCard {
    &-body {
        font-size: 16px;
    }

    &-contentContainer {
        position: relative;
        height: 100%;
    }

    &-contentRow {
        padding: 12px 0;
    }

    &-dropdown {
        height: 100%
    }

    &-editorButton {
        position: absolute;
        bottom: 0;
    }

    &-editorButtonRow {
        padding-bottom: 12px;
    }

    &-image {
        width: 100%;
    }

    &-overlay {
        border-radius: 3px; // coded to fill the rounded space in the reactstrap card
        background-color: rgba(23, 162, 184, 0.5);
        cursor: pointer;
    }

    // Center the content of the page
    &-row {
        justify-content: center;
    }

    &-titleCard {
        border: 1px solid #17a2b8;
    }

    &-titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    &-title {
        font-size: 20px;
        margin-bottom: 0;
    }
}