/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    PreviewCard.scss

    Stylings for the Wick Homepage Preview Cards
*/

// Font settings
.PreviewCard-title {
    font-size: 16px;
}

.PreviewCard-text {
    font-size: 12px;
}

.PreviewCard-overlay,
.PreviewCard-disabled {
    padding-top: 25%;
    border-radius: 3px; // coded to fill the rounded space in the reactstrap card
}

.PreviewCard-overlay {
    background-color: rgba(23, 162, 184, 0.5);
    cursor: pointer;
}

.PreviewCard-disabled {
    background-color: rgba(122, 122, 122, 0.25);
}