/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    AboutPage.scss

    Stylings for the Wick About page
*/

#AboutPage {
    &-cannonImageRow {
        padding-bottom: 8px;
    }

    // shift the image slightly so that the
    // editor appears centered
    &-editorPreviewImage {
        transform: translateX(-2%);
        width: 100%;
    }

    &-editorPreviewRow {
        padding: 32px 0;
    }
}