/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    AboutPage.scss

    Stylings for the Wick About page
*/

#AboutPage {
    &-cannon {
        padding-bottom: 8px;
    }

    // shift the image slightly so that the
    // editor appears centered
    &-editor {
        transform: translateX(-2%);
        width: 100%;
    }

    &-editorContainer {
        padding: 32px 0;
    }
}