/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    CommunityGallery.scss

    Stylings for the Wick User Content Gallery
*/

.CommunityGallery {
    &-image {
        width: 100%;
        border-radius: 4px;
    }

    &-test11 {
        background-color: red;
        width: 100%;
        padding-top: 100%;
        margin-bottom: 30px;
    }

    &-test21 {
        background-color: red;
        width: 100%;
        padding-top: calc(50% - 15px);
        margin-bottom: 30px;
    }
}
