/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    ContentSection.scss

    Stylings page content accompanied by a section title
*/

.ContentSection {
    &-body,
    &-smallBody {
        font-size: 16px;
    }

    &-smallBody {
        line-height: 20px;
    }

    &-smallTitle {
        font-size: 24px;
    }

    &-title {
        font-size: 28px;
    }

    &-smallUnderline {
        margin: 4px auto 8px;
    }

    &-underline {
        margin: 12px auto 16px;
    }

    &-smallUnderline,
    &-underline {
        width: 48px;
        border: solid 2px #28a745;
    }
}