/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    ContentLink.scss

    Stylings for the Wick Content Links
*/

.ContentLink {
    &-arrow {
        padding-top: 20px;
        opacity: 0;
        transition: opacity 0.5s;
    }

    &-container {
        margin-bottom: 40px;
        font-family: 'Nunito Sans', sans-serif;

        &:hover {
            cursor: pointer;

            & .ContentLink-arrow {
                opacity: 1;
            }
        }
    }

    &-image {
        padding-bottom: 12px;
    }

    &-text {
        font-size: 16px;
        font-weight: 400;
    }

    &-title {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 8px;
    }
}