/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    ContentSection.scss

    Stylings page content accompanied by a section title
*/

.ContentSection {
    &-body {
        font-size: 16px;
    }

    &-body--large {
        font-size: 20px;
    }

    &-body--small {
        font-size: 16px;
        line-height: 20px;
    }

    &-padding {
        padding-bottom: 28px;
    }

    &-padding--large {
        padding-bottom: 40px;
    }

    &-padding--small {
        padding-bottom: 24px;
    }

    &-title {
        font-size: 28px;
    }

    &-title--large {
        font-size: 40px;
    }

    &-title--small {
        font-size: 24px;
    }

    &-underline {
        margin: 12px auto 16px;
    }

    &-underline--large {
        margin: 16px auto 20px;
    }

    &-underline--small {
        margin: 4px auto 8px;
    }

    &-underline--small,
    &-underline,
    &-underline--large {
        width: 48px;
        border: solid 2px #28a745;
    }
}