/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    Footer.scss

    Stylings for the Wick Footer
*/

#Footer {
    &-container {
        display: flex;
        justify-content: center;
        position: relative;
        color: white;
        font-size: 12px;
        background-color: lightgreen;
    }

    &-copyright {
        display: inline-block;
        position: absolute;
        right: 0;
        padding-right: 24px;
    }

    &-content,
    &-copyright {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.Footer {
    &-item {
        padding: 0 28px;
    }
}