/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    Footer.scss

    Stylings for the Wick Footer
*/

#Footer {
    &-container {
        position: relative;
    }

    &-copyrightRow {
        color: gray;
    }

    &-paddingTopRow {
        padding-top: 160px;
    }

    &-paddingBottomRow {
        padding-top: 12px;
    }
}

.Footer {
    // **NO CONTENT CURRENTLY, SO THIS IS NOT USED
    &-content {
        color: darkgray;
        padding-bottom: 40px;
    }

    // **NO CONTENT CURRENTLY, SO THIS IS NOT USED
    &-header {
        font-weight: bold;
    }
}

.Footer-header,
.Footer-content,
#Footer-copyrightRow {
    text-align: left;
    font-size: 12px;
}