/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    Header.scss

    Stylings for the Wick Header
*/

#Header {
    &-buttonRow {
        padding: 20px 0 40px;
    }

    // Button Space Placeholder
    &-buttonSpacer {
        height: 48px; // coded to match height of reactstrap button
    }

    &-titleRow {
        font: 400 40px 'Nunito', sans-serif;
        line-height: 40px;
        color: #1EE29A;
    }

    &-subtitleRow {
        font: 400 20px 'Nunito Sans', sans-serif;
    }

    &-titleRow,
    &-subtitleRow {
        padding-bottom: 40px;
    }
}

.Header {
    &-test {
        font: 600 22px 'Nunito', sans-serif;
        background-color: #1EE29A;
        border: none;
        box-shadow: 2px 3px #B4ECE6;
        transition: 0.5s;

        &:hover,
        &:focus {
            background-color: #1EE29A;
            transform: translateX(-3px) translateY(-2px);
            box-shadow: 5px 5px #1BC687;
        }

        &:active {
            background-color: #1EE29A !important;
            transform: translateX(3px) translateY(2px);
            transition: 0.25s;
        }

        &:active,
        &:active:focus {
            box-shadow: none !important;
        }
    }
}