/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    HomePage.scss

    Stylings for the Wick Homepage
*/

#HomePage {
    &-ourLatestRow {
        padding-bottom: 20px;
        font-size: 40px;
    }

    &-promoVideo {
        width: 100%;
    }

    &-supportRow {
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }

    &-supportText {
        font-size: 20px;
    }

    &-supportWick {
        font-size: 40px;
    }
}

.HomePage {
    &-cardContainer {
        padding-top: 20px;
        padding-bottom: 20px
    }
}