/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    NewsCard.scss

    Stylings for the news cards on homepage
*/

.NewsCard {
    &-container {
        justify-content: flex-end;
        text-align: left;
        border-width: 0;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    }

    &-container:hover {
        box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }

    &-date {
        margin-bottom: 0;
        font-size: 14px;
        color: #6C757D;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        border: none;
        background-color: inherit;
    }

    &-text {
        font-size: 12px;
    }

    &-title {
        font-size: 22px;
    }
}