/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    SocialMediaIcon.scss

    Stylings for contact links
*/

.SocialMediaIcon {
    &-container {
        margin: 0 6px;
    }

    &-icon {
        width: 100%;
        opacity: 0.7;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;

        &:hover {
            opacity: 1;
        }
    }
}