/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    SocialMedia.scss

    Stylings for contact links row
*/

.SocialMedia {
    &-containerRow {
        padding: 20px 0;
    }

    &-icon {
        width: 100%;
        opacity: 0.7;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }

    &-icon:hover {
        opacity: 1;
    }

    &-iconContainer {
        margin: 0 4px;
    }
}