/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    Supporter.scss

    Stylings for the Supporter Card (name and picture)
*/

.Supporter {
    &-container {
        padding: 0 8px;
        opacity: .8;
        transition: opacity 0.5s;

        &:hover {
            opacity: 1;

            & .Supporter-name {
                opacity: 1;
            }
        }
    }

    &-name {
        opacity: 0;
        display: flex;
        font: 400 14px 'Nunito Sans', sans-serif;
        padding: 4px 0 8px;
        justify-content: center;
        white-space: nowrap;
        transition: opacity 0.5s;
    }

    &-picture {
        border-radius: 50%;
        width: 75%;
    }
}