/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    TutorialCard.scss

    Stylings for the Wick Homepage Preview Cards
*/

.TutorialCard {
    &-container,
    &-container--disabled {
        border-width: 0;
        box-shadow: 2px 3px #B4ECE6;
        transition: 0.5s;
        font-family: 'Nunito Sans', sans-serif;
    }

    &-container:hover {
        cursor: pointer;
        box-shadow: 5px 5px #1EE29A;
        transform: translateX(-3px) translateY(-2px);
    }

    &-container--disabled {
        opacity: 0.5;
    }

    &-content {
        top: auto;
        background-color: white;
        overflow: hidden;
        border-bottom-left-radius: 3px; // coded to fill the rounded space in the reactstrap card
        border-bottom-right-radius: 3px; // coded to fill the rounded space in the reactstrap card
    }

    &-text {
        font-size: 12px;
        font-weight: 400;
    }

    &-title {
        font-size: 16px;
        font-weight: 600;

        &--collapsed {
            margin: 0;
        }
    }
}
