/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    UpdateCard.scss

    Stylings for the Update Info Tab
*/

.UpdateCard {
    &-button {
        margin-top: 12px;
    }

    &-container {
        text-align: left;
        margin: 20px 0;
        border-width: 0;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    }

    &-text {
        font-size: 16px;
    }

    &-version {
        font-size: 24px;
    }
}