/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    WickCarousel.scss

    Stylings for Creator Card Carousel
*/

.WickCarousel {
    &-arrowLeft span {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231EE29A' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    &-arrowRight span {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231EE29A' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    &-arrowLeft span,
    &-arrowRight span {
        width: 40px;
        height: 40px;

        &:hover {
            cursor: pointer;
        }
    }
}

