/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    WickInlineLink.scss

    Stylings for inline links
*/

.WickInlineLink {
    &-container {
        color: #1EE29A;

        &:hover {
            color: #01C094;
            text-decoration: none;
        }
    }
}