/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    Wick.scss

    Master stylings for Wick
*/

.Wick {
    text-align: center;
    font-family: 'Nunito', sans-serif;

    // Center the content of the page
    &-row {
        justify-content: center;
    }
}