/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    PreviewCard.scss

    Stylings for the Wick Homepage Preview Cards
*/

.WickCard {
    &-container,
    &-container--disabled {
        border-width: 0;
        box-shadow: 2px 3px rgba(0, 0, 0, 0.4);
        transition: 0.5s;
    }

    &-container:hover {
        cursor: pointer;
        box-shadow: 5px 5px #1EE29A;
        transform: translateX(-3px) translateY(-2px);
    }

    &-container--disabled {
        opacity: 0.5;
    }

    &-content {
        top: auto;
        background-color: white;
        overflow: hidden;
        border-bottom-left-radius: 3px; // coded to fill the rounded space in the reactstrap card
        border-bottom-right-radius: 3px; // coded to fill the rounded space in the reactstrap card
    }

    &-modal {
        text-align: center;
        font-family: 'Nunito', sans-serif;
    }

    &-modalHeader {
        justify-content: center;
        padding-bottom: 0;
    }

    &-modalNumber {
        color: gray;
        font-size: 16px;
    }

    &-modalTitle {
        font-size: 20px
    }

    &-modalUnderline {
        width: 48px;
        border: solid 2px #1EE29A;
        margin: 4px auto 4px;
    }

    &-text {
        font-size: 12px;
    }

    &-title {
        font-size: 16px;

        &--collapsed {
            margin: 0;
        }
    }
}
