/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    WickRouter.scss

    Stylings for the Wick Nav Bar
*/

#WickRouter {
    &-activeItem {
        font: 600 16px 'Nunito Sans', sans-serif;
        color: #3E3E3E !important;

        &--brand {
            color: #1EE29A !important;
        }
    }

    &-container {
        margin-bottom: 48px;
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

.WickRouter {
    &-background {
        background-color: #F3F8F7 !important;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    &-background--hidden {
        display: none;
    }

    &-brand--wide,
    &-brand--narrow {
        font: 600 22px 'Nunito', sans-serif;
        color: #1EE29A !important;
        transition: color 0.5s;

        &:hover {
            color: #01C094 !important;
        }
    }

    &-brand--wide {
        margin: 0 24px;

        // hide for narrow screens
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &-brand--narrow {
        // hide for wide screens
        align-self: center;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 8px;
        margin: 0;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &-navItem {
        margin: 0 16px;
        padding: 10px 8px 6px;
        font: 400 16px 'Nunito Sans', sans-serif;
        color: #4ECEC1 !important;
        transition: color 0.5s;

        @media screen and (max-width: 767px) {
            text-align: right;
            margin: 0;
        }

        &:hover {
            color: #3D9B91 !important;
        }
    }
}