/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    HomePage.scss

    Stylings for the Wick Footer
*/

#Footer-container {
    position: relative;
}

// Background Image
.Footer-background {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

// Formatting Settings
.Footer-row {
    @media screen and (min-width: 576px) {
        justify-content: center;
    }
}

#Footer-paddingTopRow {
    padding-top: 160px;
}

#Footer-paddingBottomRow {
    padding-top: 12px;
}

// Text Settings
.Footer-header,
.Footer-content,
#Footer-copyrightRow {
    text-align: left;
    font-size: 12px;
}

.Footer-header {
    font-weight: bold;
}

.Footer-content {
    color: darkgray;
    padding-bottom: 40px;
}

#Footer-copyrightRow {
    color: gray;
}