/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    HomePage.scss

    Stylings for the Wick Footer
*/

// Formatting Settings
.Footer-row {
    justify-content: center;
}

#Footer-paddingTopRow {
    padding-top: 160px;
}

#Footer-paddingBottomRow {
    padding-top: 12px;
}

// Text Settings
.Footer-header,
.Footer-content,
#Footer-copyrightRow {
    text-align: left;
    font-size: 12px;
}

.Footer-header {
    font-weight: bold;
}

.Footer-content {
    color: darkgray;
    padding-bottom: 40px;
}

#Footer-copyrightRow {
    color: gray;
}