/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    HomePage.scss

    Stylings for the Wick Nav Bar
*/


#Header-container {
    padding: 8px 0;
    margin-bottom: 48px;
    position: sticky;
    top: 0;
}

// Formatting for the Nav Bar background
.Header-showNavBar {
    background-color: gray;
    z-index: 1;
}