/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    HomePage.scss

    Stylings for the Wick Nav Bar
*/

#active {
    font-size: 18px;
    color: blue;
}

.navItem {
    display: inline-block;
    font-size: 16px;
    margin: 0 32px;
}

.navItem:hover {
    color: lightblue;
    cursor: pointer;
}

#headerContainer {
    padding: 12px 0 60px;
}