/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    HomePage.scss

    Stylings for the Wick Homepage
*/

// Center the content of the page
.HomePage-row {
    justify-content: center;
}

.HomePage-sectionHead,
#HomePage-supportRow {
    flex-direction: column;
    align-items: center;
}

// Image Header

.HomePage-wickWorld {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    text-align: center;
}

// Spacing settings for different rows of content
#HomePage-wickTitleRow {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 40px;
}

#HomePage-editorButtonRow {
    padding: 20px 0 40px;
}

#HomePage-promoVideoRow {
    padding: 40px 0;
}

.HomePage-webpageButtonRow {
    padding-bottom: 60px;
}

#HomePage-newsRow {
    padding-bottom: 80px;
}

#HomePage-supportRow {
    padding-bottom: 40px;
}

.HomePage-cardContainer,
#HomePage-ourLatestRow {
    padding-top: 20px;
    padding-bottom: 20px
}

// Font settings

#HomePage-descTextRow {
    font-size: 20px;
}

#HomePage-ourLatestRow {
    font-size: 40px;
}

.HomePage-sectionTitle {
    font-size: 24px;
}

.HomePage-sectionSubtitle {
    font-size: 16px;
    line-height: 20px;
}

#videoPlaceholder {
    background-color: grey;
    height: 337.5px;
    width: 600px;
}

#HomePage-supportWick {
    font-size: 40px;
}

#HomePage-suportText {
    font-size: 20px;
}