/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    NavItem.scss

    Stylings for the Nav Bar Items
*/

// highlight current tab
#NavItem-active {
    color: blue;
}

// Layout settings
.NavItem,
.NavItem-larger {
    display: inline-block;
    font-size: 16px;
    margin: 0 32px;
}

// formatting for larger text (wick editor name)
.NavItem-larger {
    font-size: 18px;
    color: green;
}


.NavItem:hover {
    color: lightblue;
    cursor: pointer;
}

.NavItem-larger:hover {
    color: lightgreen;
    cursor: pointer;
}