/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    NewsCard.scss

    Stylings for the news cards on homepage
*/

.newsItem {
    width: 100%;
    height: 132px;
    background-color: red;
}