/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    PreviewCard.scss

    Stylings for the Wick Homepage Preview Cards
*/

.previewCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 332px;
    border: solid 1px black;
}

.previewCardOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
    background-color: rgba(0,0, 122, 0.5);
}

.previewCardOverlay:hover {
    cursor: pointer;
}

.imagePlaceholder {
    background-color: gray;
    height: 50%;
}

.cardTitle {
    font-size: 16px;
    margin-top: 16px;
}

.cardText {
    font-size: 12px;
    margin: 16px;
    overflow: hidden;
}

.openPreviewCard {
    padding-top: 25%;
    font-size: 24px;
}