/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    UpdateTab.scss

    Stylings for the Update Info Tab
*/

#UpdateTab-container {
    text-align: left;
    border: solid 1px black;
    padding: 16px;
    margin: 20px 0;
}

#UpdateTab-version {
    font-size: 24px;
}

#UpdateTab-text {
    font-size: 16px;
}

#UpdateTab-button {
    margin-top: 8px;
}