/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    WickWorld.scss

    Stylings for the WickWorld Image
*/

// Image Header
.WickWorld-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.test {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}