/*
    Corey Emery (cemery@andrew.cmu.edu)
    WickEditor Website
    WickWorld.scss

    Stylings for the WickWorld Image
*/

// Image Header
.WickWorld-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}