$patreonProgress: 205.96;
$patreonGoal: 1000;
$githubProgress: 1;
$githubGoal: 10;

$patreonProgressWidth: $patreonProgress/$patreonGoal *100+'%';
$githubProgressWidth: $githubProgress/$githubGoal *100+'%';